/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

.error-block {
  @apply mt-6 bg-red-900 border border-red-700 text-red-200 px-4 py-3 rounded-lg relative;
}

.btn-audio {
  @apply gap-2 text-white font-bold py-3 px-4 rounded-lg hover:bg-indigo-500 disabled:bg-slate-600 disabled:cursor-not-allowed transition-all duration-300 transform hover:scale-105 disabled:scale-100;
}

.btn-image-selector {
  @apply bg-slate-900/50 text-white px-3 py-1.5 text-sm rounded-md hover:bg-slate-900/80 transition-all opacity-0 group-hover:opacity-100 backdrop-blur-sm;
}
